@import url("https://fonts.googleapis.com/css?family=Slabo+27px");

h1{
    font-size:100px;
    text-align: center;
    color: #E8C784;
    
}


body{
    background-color: #DFDFE0;
    font-family:Arial Hebrew;
}

ul{
    list-style-image: disc;
    list-style:#E8C784;
    
    
}
div.right{
    text-align: right;
}

.image{
    width: 40%;
}

.bigimg{
    width: 100%;
}

ul{
    width: 40%;

}

.right{
    text-align: right;
    align: right;
}

.btn{
    border-radius: 0;
    bottom: 15px;

    
}

.btn-primary{
    
    background-color:#E8C784;
    border-color:#E8C784;
    color:black;
    
}

hr {
    color:;
    width:1000px
}

.quote-text{
    
}
.blockquote-footer{
    color:#E8C784;
}

@media (min-width: 576px) {
    blockquote{
        font-size:30px ;
        text-align: center;
    }

    h1{
        font-size:80px;
        text-align: center;
    }
        
}

@media (min-width: 992px) {
    blockquote{
        font-size:70px ;
        text-align: center;
    }

    
}




